<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/01_other_buttons" target="_blank">Target</a>
</p>

<!-- Write CSS in public/css/my_styles.css to make the following <a> tags look like buttons of various colors -->

<p>
  <a class="base-button base-button-primary">Primary</a>
</p>

<p>
  <a class="base-button base-button-secondary">Secondary</a>
</p>

<p>
  <a class="base-button base-button-success">Success</a>
</p>

<p>
  <a class="base-button base-button-danger">Danger</a>
</p>

<p>
  <a class="base-button base-button-warning">Warning</a>
</p>

<p>
  <a class="base-button base-button-info">Info</a>
</p>


<p>Less intrusive variants:</p>

<p>
  <a class="base-button-outline base-button-outline-primary">Primary (unobtrusive)</a>
</p>

<p>
  <a>Secondary (unobtrusive)</a>
</p>

<p>
  <a>Success (unobtrusive)</a>
</p>

<p>
  <a>Danger (unobtrusive)</a>
</p>

<p>
  <a>Warning (unobtrusive)</a>
</p>

<p>
  <a>Info (unobtrusive)</a>
</p>
