<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/05_navbar" target="_blank">Target</a>
</p>

<!-- Add your code to create a navbar here. -->
<!-- Note: I did not match the target completely. I did not do the drop down or the search bar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled" aria-disabled="true" href="#">Disabled</a>
      </div>
    </div>
  </div>
</nav>

<!-- random text -->

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, at soluta porro tenetur, expedita mollitia fugit minima quibusdam ipsum dolores odit quaerat quisquam iste, reiciendis et maiores quam dolore neque.</p>
